VITE_FIREBASE_API_KEY=AIzaSyAcanAdO4OKjS1pxn-SsyZ9pEE6AvkX6tc
VITE_FIREBASE_AUTH_DOMAIN=brocab-1c545.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=brocab-1c545
VITE_FIREBASE_STORAGE_BUCKET=brocab-1c545.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=356073188733
VITE_FIREBASE_APP_ID=1:356073188733:web:bb28d65ad93102eedd3014
VITE_FIREBASE_MEASUREMENT_ID=G-TYGDGMPTYQ
VITE_API_BASE_URL=https://brocab.onrender.com

